[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"
google-generativeai = "*"

[dev-packages]

[requires]
