[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"
google-generativeai = "*"
waitress = "*"
gevent = "*"

[dev-packages]
flask = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"
google-generativeai = "*"

[requires]
PYTHON_VERSION = "*"
